
#cv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#cv-pdf-container {
  width: 100%;
  max-width: 90rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.cv-iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

.cv-message {
  display: none;
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem;
  color: #333;
  background-color: #f1f1f1;
  border: 2px dashed #ccc;
  border-radius: 8px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    #cv-pdf-container {
        max-width: 100%;
        padding: 10px; /* Adds some padding for small screens */
    }

    #cv-pdf-iframe {
    display: none;
  }

  .cv-message {
    display: block;
  }

    /* .cv-iframe {
        height: 80vh;
    } */
}

/* Media Query for very small screens */
@media (max-width: 480px) {
    /* .cv-iframe {
        height: 70vh; 
    } */

    .cv-message {
      font-size: 1rem; 
      padding: 1rem;
    }
}
